<a href="https://colab.research.google.com/github/DJCordhose/buch-machine-learning-notebooks/blob/master/kap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kapitel 3: Datenimport und -vorbereitung

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
%matplotlib inline
%pylab inline

In [ ]:
import pandas as pd
print(pd.__version__)

In [ ]:
import seaborn as sns
print(sns.__version__)

## Zuerst laden wir den Iris Datensatz und verschaffen uns einen ersten Eindruck
https://de.wikipedia.org/wiki/Portal:Statistik/Datensaetze#Iris

In [ ]:
!curl -O https://raw.githubusercontent.com/DJCordhose/ml-examples/master/datasets/Iris/iris_dirty.csv

In [ ]:
# Laden der Daten mit pandas read_csv

In [ ]:
# prüfe shape

In [ ]:
# Anzeige der ersten Zeilen

In [ ]:
# Anzeige der Werte ungleich Null (nicht leer) pro Spalte

## Exkurs: Datenstrukturen in Pandas

### Series

In [ ]:
# Series ist einfach eine Liste von Daten

In [ ]:
# type einer Series

In [ ]:
# Wenn kein Index angegeben ist, wird einfach fortlaufend durchnummeriert

In [ ]:
# Du kannst den Index aber auch angeben, entweder über Paare von Name und Wert

In [ ]:
# oder als extra Parameter

In [ ]:
# mit dem []-Operator kommst du an einzelne Werte über ihre Position (nicht Index) heran

In [ ]:
# Der Index geht aber auch

In [ ]:
# oder du machst explizit womit du die Daten herausbekommen willst
# mit loc

In [ ]:
# oder iloc

In [ ]:
# Mehrere Werte gehen auch

In [ ]:
# Wertebereiche trennst du mit einem Doppelpunkt, der erste Startwert ist inklusiv, der Endwert exklusiv

In [ ]:
# Wenn der Startwert 0 ist kannst du ihn auch weglassen

In [ ]:
# Wenn du den Endwert weglässt, bekommst du alle Werte ab dem Startwert

#### Fortgeschrittenes

In [ ]:
# Du kannst auch eine Funktion angeben, die bestimmt, welche Wert du haben möchtest

In [ ]:
# falls du dich fragst, wieso das der []-Operator das kann: er ist für die Series überladen
# hier ein einfaches Beispiel, wie sowas geht
# http://stackoverflow.com/questions/1957780/how-to-override-operator
class MyClass:
    def __getitem__(self, key):
        return key * 2
myobj = MyClass()
myobj[3]

### Dataframes

In [ ]:
# Ein DateFrame besteht aus mehreren Series, diese haben typischerweise, aber nicht notwendigerweise, denselben Index

In [ ]:
# type eines data frames

In [ ]:
# Ausgabe des data frames

In [ ]:
# du kannst dir jederzeit auch Dokumentation für alle Klassen und Funktionen anzeigen lassen
# pd.DataFrame?

In [ ]:
# Series haben Labels, über diese kommst du an die einzelnen Series

In [ ]:
# Series kennst du bereits von oben

In [ ]:
# du kannst aber auch einen kombinierten Zugriff formulieren

## Weiter im Thema: Fehlende Werte herausfinden und korrigieren

In [ ]:
# Spalte sepal width des data frames

In [ ]:
# Prüfe alle Werte von sepal width auf isnull

In [ ]:
# Prüfe Anzahl fehlender Werte

In [ ]:
# Nutze die vorherige boolsche Maske um auf fehlende Werte zuzugreifen

Wie können wir diesen fehlenden Wert durch den Mittelwert ersetzen? Andere Strategien?

In [ ]:
# Filtere nur die Zeilen, die zur Klasse Iris-versicolor gehören

In [ ]:
# Bestimme Mittelwert der Spalte 'sepal width'

In [ ]:
# Überprüfe Eintrag mit Index 82

In [ ]:
# Setze die Zelle mit Zeilen-ID 82 aund Spalte sepal width auf den Mittelwert dieser Spalte

In [ ]:
# Alternativ: nutze fillna

In [ ]:
# Überprüfe Anzahl der nicht-Null Werte pro Feature

## Dubletten finden und löschen

In [ ]:
# Finde Anzahl Duplikate

In [ ]:
# Nutze pandas duplicated, um Duplicate zu finden

In [ ]:
# Duplicate können über Index oder drop_duplicates (einfacher, oder?) entfernt werden

In [ ]:
# Aber haben wir die richtigen entfernt? Es soll von jeder Klasse genau 50 Einträge geben

In [ ]:
# gib für jede Klasse die Anzahl der Beispiele aus

In [ ]:
# Alternativ: value_counts

In [ ]:
# Entferne einen der doppelten Einträge für iris-versicolor

In [ ]:
# Überprüfe erneut die Anzahl aller Klassen

## Zeichendreher / Tippfehler

In [ ]:
# Finde falsch gelabelten Datensatz

In [ ]:
# Korrigiere das Label/target

In [ ]:
# Überprüfe Anzahl pro Klasse

## Uneinheitliche Einheiten

In [ ]:
# Wir schauen noch einmal auf die Daten

In [ ]:
# Umwandlung von str in Zahl via pandas to_numeric

In [ ]:
# Schreibe eine Hilfsfunktion convert_from_mm, die eine row entgegennimmt

In [ ]:
# Wende Funktion auf Dataframe an

In [ ]:
# Advanced: Nutze pandas str Methoden und zeige Laufzeitvergleich zwischen apply und array-Methoden!

## Unplausible Daten (Ausreißer)

In [ ]:
# Ausgabe der statistischen Auswertung (describe)

In [ ]:
# Ausgabe der statistischen Auswertung pro Klasse

In [ ]:
# Ausgabe der Hilfe zu df.hist

In [ ]:
# Erstelle pro Feature ein Histogramm

# plt.savefig('ML_0304.png', bbox_inches='tight')

In [ ]:
# Erstelle pro Feature ein Histogramm, diesmal aber ohne den Ausreißer

In [ ]:
# Erstelle pro Klasse und Feature ein Histogramm

In [ ]:
# Selektiere den Ausreißer in sepal length

In [ ]:
#sns.jointplot?

In [ ]:
# Visualisiere den Zusammenhang zwischen "sepal length" und "petal length"

# plt.savefig('ML_0305.png', bbox_inches='tight')

In [ ]:
# Bestimme den Korrelationskoeffizienten sowie den p-Wert für den linearen Zusammenhang
# Nutze pearsonr von scipy.stats.stats

In [ ]:
# Korrigiere den Ausreißer durch Verschieben des Kommas

In [ ]:
# p value:
# https://en.wikipedia.org/wiki/P-value
# http://www.dummies.com/education/math/statistics/what-a-p-value-tells-you-about-statistical-data/
# https://xkcd.com/1478/
# Visualisiere erneut den Zusammenhang zwischen den beiden Variablen

# plt.savefig('ML_0306.png', bbox_inches='tight')

In [ ]:
# Bestimme erneut den Korrelationskoeffizienten sowie den p-Wert für den linearen Zusammenhang
# Nutze pearsonr von scipy.stats.stats

In [ ]:
# Erstelle eine Korrelationsmatrix für alle Features
# https://en.wikipedia.org/wiki/Pearson_correlation_coefficient
# pandas bietet dafür corr()
# seaborn kann daraus eine Heatmap mit heatmap() erzeugen

# plt.savefig('ML_0307.png', bbox_inches='tight')

In [ ]:
# Speichere den bereinigten Datensatz als neue CSV ab

## Bonus Level: Mehr nette Visualisierungen

In [ ]:
# Erstelle einen Boxplot für jede Klasse
df.groupby('class').boxplot(figsize=(15,15))

In [ ]:
# mit seaborn
sns.catplot(data=df, kind="box", col="class")

In [ ]:
# Boxplot für den gesamten Datensatz
df.boxplot()

In [ ]:
df.groupby('class').hist()
plt.show()

In [ ]:
# Histogramm für ein Feature und für alle Klassen
df.groupby('class')['sepal length'].hist()